<h1>Success!</h1>
 <p><%= @name %> has been saved to the database with <%= @specialty %> as their specialty.</p>

<div class="container">
  <a href="/"><button class="button btn">Return Home</a>
</div>
