<h3>Enter your name to see a list of your patients!</h3>

<form action="/doctor/patients" method="get">
  <div class="form-group">
    <label for="docName" class="form-label">Doctor's Name</label>
    <input type="text" name="docName" class="form-control" id="docName" placeholder="Your name">
    <button type="submit" class="button btn">See Patients</button>
  </div>
</form>
