<br><div class="jumbotron">
<h1>Welcome to 'A New Hope' Hospital</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <a href="/patient">Patient Login</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <a href="/doctor">Doctor Login</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <a href="/administrator">Administrator Login</a>
      </div>
    </div>
  </div>
</div>
